<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rate sites</title>

  <!-- from Bootstrap starter -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Home</a>
  <% if session[:admin] || session[:student] %>
    <a href="/logout" class="navbar-brand">Logout</a>
  <% else %>
    <a href="/login" class="navbar-brand">Login</a>
  <% end %>
  <a href="/upload_users" class="navbar-brand">Upload Users</a>
  <a href="/restaurants" class="navbar-brand">Restaurants</a>

  <% if session[:admin] %>
    <a href="/upload_websites" class="navbar-brand">Upload Websites</a>
    <a href="/report" class="navbar-brand">Vote Report</a>
  <% end %>
</nav>

<div class="container">
  <h1>Student Restaurants</h1>
  <%if !@restaurants.empty? %>
    <ul class="list-group">
      <% @restaurants.shuffle.each do |el| %>

        <li class="list-group-item"><a class="list-group-item list-group-item-action" href="/restaurants/<%= el %>"><%= el %></a></li>
      <% end %>
    </ul>

    <h2>Vote!</h2>
    <form action="/vote" method="POST" enctype="multipart/form-data">
    <div class="row">

      <div class="col-sm">
        <h3>First Place</h3>
        <% @restaurants.each do |el| %>

            <input type="radio" name="vote1" value="<%= el %>"> <%= el %>
            <br>
        <% end %>
      </div>
      <div class="col-sm">
        <h3>Second Place</h3>
        <% @restaurants.each do |el| %>
            <input type="radio" name="vote2" value="<%= el %>"> <%= el %>
            <br>
        <% end %>
      </div>
      <div class="col-sm">
        <h3>Third Place</h3>
        <% @restaurants.each do |el| %>
            <input type="radio" name="vote3" value="<%= el %>"> <%= el %>
            <br>
        <% end %>
      </div>

      </div>
      <input type="submit" class="btn btn-primary" value="Vote"
             <% if !session[:student] || @voted %>
             disabled
              <% end %>
            >
    </form>

    <% if !session[:student] %>
      <div class="alert alert-warning" role="alert">
        You are not logged in as a student, not allowed to vote!
      </div>
      <% elsif @voted == true %>
      <div class="alert alert-success" role="alert">
        Student already voted!
      </div>
      <% else %>
      <div class="alert alert-warning" role="alert">
       Student didn't vote yet!
      </div>
    <% end %>

    <% else %>
        <p>No restaurants created</p>
    <% end %>
</div>

</body>
</html>